.card {
  margin-bottom: 30px;
}
.card-footer {
  padding: 0px;
}

.card {
  height: 95%;
  max-width: 320px;
}

.card-body {
  overflow-y: hidden;
  -ms-overflow-style: none;
}

.card-body::-webkit-scrollbar {
  display: none;
}
.btnColorInfo {
  color: #4f4a4a;
  background-color: #e381c2;
  border-color: #726477;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.btnInfo .btnColorInfo {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
 
  /* font-size: 1rem; */
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}