<br>
<br><br><br>
<div class="card">
  <div class="card-body" *ngIf="order">
    <h5 class="card-title">Resumen de compra</h5>
    <p>Orden num: {{ order.id }}</p>
    <p>Direccion: {{ order.shipping.addressLine1 }}</p>
    <p>Precio del envio: ${{ order.shipping.price }}</p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of order.items" class="list-group-item">
        {{ item.quantity }} x {{ item.product.title }}
        <div class="float-right">
          {{ item.totalPrice }}
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        Total
        <div class="float-right">
          {{ totalPrice }} 
        </div>
        Envio
        <div class="float-right">
          {{ totalPrice }} 
        </div>
      </li>
    </ul>
  </div>
</div>
