<br>
<br><br><br>
<div class="card">
  <div class="card-body" *ngIf="order">
    <h5 class="card-title">Resumen de compra</h5>
    <p>N° orden: {{ order.id }}</p>
    <p class="font-weight-bold">Estado: {{ order.state }}</p>
    <p *ngIf="order.numEnvio">Numero de envio: {{ order.numEnvio }}</p>
    <p>Direccion de entrega: {{ order.shipping.addressLine1 }}</p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of order.items" class="list-group-item">
        {{ item.quantity }} x {{ item.product.title }}
        <div class="float-right">
          {{ item.totalPrice }}
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        Total de productos
        <div class="float-right">
          $ {{ totalPrice }} 
        </div>
        <br>
        Total envio
        <div class="float-right">
          $ {{order.shipping.price}} 
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        Total 
        <div class="float-right">
          $ {{ order.totalCart }} 
        </div>
       
      </li>
    </ul>
  </div>
</div>
