#dropdown {
  cursor: pointer;
}

.navbar-collapse {
  margin-right: 142px;
}

.dropdown-menu {
  position: absolute;
}

.navbar-toggler {
  margin-right: 5px;
}
.beuatelogo {
  width: 180px;
  height: 77px;
  
}
.icono {
  width: 30px;
  height: 30px;
}