<br>
<br>
<br>
<br>
<br>
<br>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css"/>
    <title>Login Page</title>
</head>

<body>
        <div class="login-card">
            <img src="../../../assets/img/logo.png" alt="logo">
            <br>
            <br>
            <br>
            <br>
            <br>
            <form class="login-card-form" [formGroup]="formLogin" (ngSubmit)="onSubmit()">

                   <h1>INICIAR SESIÓN</h1>
                    <h4>Por favor ingresa a tu cuenta para poder realizar la compra!</h4>
                <div class="form-item">

                    <input type="text" placeholder="Usuario" id="emailForm" formControlName="email" style="text-align: center;"
                    autofocus required>
                </div>
                <br>
                <div class="form-item">
                    <input type="password" placeholder="Contraseña" id="passwordForm" formControlName="password" style="text-align: center;"
                     required>
                </div>
                <br>
                <button type="submit" value="Enviar" class="" >
                  Iniciar Sesion
                </button>

            </form>
            <div class="login-card-footer">
                Todavía no tenes una cuenta? <a [routerLink]="['/registro']">Registrate.</a>
            </div>
        </div>



</body>

