<br>
<br>
<br>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beaute</title>
  <link rel="stylesheet" href="./home.component.css">
</head>

<body>

  <header>
    <section class="porfolio container">
    <div class="porfolio-txt">
      <h2>BEAUTÉ ACCESORIOS.</h2>
      <p>Nos dedicams o ofrecer los mejores accesorios para que uses día a día. Nuestro objetivo principal es que
        nuestros clientes amen lo que compran!
      </p>
    </div>
  </section>
  </header>

  <section class="porfolio container" style="margin: auto;">
    <div class="porfolio-txt" >
      <h2>Nuestros favoritos</h2>
      <p>Los accesorios que más nos piden
      </p>
    </div>
    <div class="imgs">
      <img src=".../../../../../assets/img/25.JPG" [routerLink]="['/products']">
      <img src=".../../../../../assets/img/23.JPG" [routerLink]="['/products']">
      <img src=".../../../../../assets/img/IMG_6983.JPG" [routerLink]="['/products']">
      <img src=".../../../../../assets/img/IMG_7525.JPG" [routerLink]="['/products']">
    </div>

    <!-- <a href="#" class="btn-1"  style="position: center;">Más información</a> -->
  </section>

  <section class="bg-sec" >
    <div class="bg-txt container" style="margin: auto;">
      <h2>15% OFF ABONANDO EN EFECTIVO</h2>
      <h2>10% OFF TRANSFERENCIA</h2>
    </div>
  </section>

  <main class="services container" style="margin: auto;">
    <h2>servicios</h2>
    <div class="group-services">
      <div class="service">
        <img src=".../../../../../assets/img/whatsapp (1).png">
        <h3>WhatsApp</h3>
        <p>Hace tu pedido y cuando lo recibimos te contactamos al WhatsApp para coordinar el pago</p>
      </div>
      <div class="service">
        <img src=".../../../../../assets/img/paquete.png">
        <h3>Envío</h3>
        <p>Envios a todo el pais a traves de Correo Argentino</p>
      </div>
      <div class="service">
        <img src=".../../../../../assets/img/pago-por-clic.png">
        <h3>Metodos de Pago</h3>
        <p>Trabajamos con todos los medios de pago efectivo, transferencia, mercado pago , debito y credito con recargos
        </p>
      </div>
    </div>
  </main>


  <footer>
    <div class="ft container" style="margin: auto;">
      <div class="enlace">
        <h3>Más información</h3>
        <li><a href="#">Politicas de devolución</a></li>
        <li><a href="#">Como comprar</a></li>
        <li><a href="#">Acerca de Beaute</a></li>
        <li><a href="#">Preguntas frecuentes</a></li>
      </div>

      <div class="enlace">
        <h3>Productos</h3>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Medir mi anillo</a></li>
      </div>

      <div class="enlace">
        <h3>Datos de contacto</h3>
        <li><a href="#">1133224455</a></li>
        <li><a href="#">Zona Sur, Monte Grande</a></li>
        <li><a href="#">gmail@gmail.com</a></li>
      </div>

      <div class="enlace">
        <h3>Email</h3>
        <form>
          <input type="text" class="btn-2">
          <input type="submit" value="Enviar" class="btn-3">
        </form>
      </div>
    </div>
  </footer>

</body>

</html>
