<br><br><br><br><br>
<br><br><br><br><br>

<div class="row"style="padding: 5%;">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save()">
      <div class="form-group">
        <label for="title">Nombre</label>
        <input
          #title="ngModel"
          [(ngModel)]="employee.name"
          name="title"
          id="title"
          type="text"
          class="form-control"
          required
        />
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Ingreser Nombre.
        </div>
      </div>
      <div class="form-group">
        <label for="email">Correo electronico</label>
        <div class="input-group">
          <input
            #email="ngModel"
            [(ngModel)]="employee.email"
            name="email"
            id="email"
            type="email"
            class="form-control"
            
            
            required
          />
        </div>
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
          <div *ngIf="email.errors.required">Ingrese el Correo electronico.</div>
          
        </div>
      </div>
      <div class="form-group">
        <label for="category">Rol</label>
        <select
          #category="ngModel"
          [(ngModel)]="employee.isEmployee || employee.isAdmin "
          name="category"
          id="category"
          type="text"
          class="form-control"
          required
        >
          <option value=""></option>
          <option
            *ngFor="let category of categories$ | async"
            [value]="category.id"
            >{{ category.role }}</option
          >
        </select>
        <div
          class="alert alert-danger"
          *ngIf="category.touched && category.invalid"
        >
          Ingrese rol.
        </div>
      </div>
      <div *ngIf="!id" class="form-group">
        <label for="password">Contraseña</label>
        <input
          #password="ngModel"
          [(ngModel)]="employee.password"
          name="password"
          id="password"
          type="text"
          class="form-control"
          [minlength]="6"
          required/>
        <div
          class="alert alert-danger"
          *ngIf="password.touched && password.invalid">
          <div *ngIf="password.errors.required">Ingrese password</div>
          <div *ngIf="password.errors.minlength">La contraseña debe tener 6 caracteres</div>
        </div>
      </div>
      <button
      type="button"     
      *ngIf="id"
      class="btn btn-danger"
      routerLink="/admin/employee">
      Cancelar
    </button>
      <button class="btn btn-primary" [disabled]="f.invalid">Guardar</button>
      <button
        type="button"
        (click)="delete()"
        *ngIf="id"
        class="btn"
      >
      <i class="fa fa-trash"></i></button>
    </form>
  </div>
  <!--app-product-card
    class="col-3 mx-auto"
    [product]="product"
    [showActions]="false"
  ></app-product-card--->
</div>