<div class="orden">
  <form #f="ngForm" style="left: 10px; position: relative;">
    <div class="form-group">
      <h1 style="text-align: center;">ENVIO</h1>
      <label for="">Nombre</label>
      <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control"
        placeholder="Nombre" required />
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        <div *ngIf="name.errors.required">Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="">Dirección</label>
      <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="shipping.addressLine1" type="text"
        class="form-control" placeholder="Direccion" required />
      <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
        <div *ngIf="addressLine1.errors.required">
          Address Line 1 is required.
        </div>
      </div>
    </div>
    <!-- <button (click)="placeOrder()" class="btn btn-primary">
      Place Order
    </button> -->

    <div class="form-group">
      <label for="city">Ciudad</label>
      <select
      #city="ngModel"
        [(ngModel)]="shipping.city"
        name="city"
        id="city"
        type="text"
        class="form-control"
        required
      >
        <option value=""></option>
        <option
          *ngFor="let zonas of zonas$ | async"
          [value]="zonas.id"
          >{{ zonas.name }} -${{zonas.price }}</option
        >
      </select>
      <div
        class="alert alert-danger"
        *ngIf="city.touched && city.invalid"
      >
        Ingrese la ciudad de envio.
      </div>
    </div>



    <!--h1 style="text-align: center;">PAGO</h1>

    <div class="form-group">
      <label for="">Nombre como en la tarjeta</label>
      <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control"
        placeholder="Nombre" required />
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        <div *ngIf="name.errors.required">Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="">Numero tarjeta</label>
      <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="shipping.addressLine1" type="text"
        class="form-control" placeholder="Direccion" required />
      <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
        <div *ngIf="addressLine1.errors.required">
          Address Line 1 is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="">Codigo seguridad</label>
      <input #city="ngModel" name="city" [(ngModel)]="shipping.city" type="text" class="form-control"
        placeholder="Ciudad" required />
      <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
        <div *ngIf="city.errors.required">City is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="">Fecha vencimiento</label>
      <input #city="ngModel" name="city" [(ngModel)]="shipping.city" type="text" class="form-control"
        placeholder="Ciudad" required />
      <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
        <div *ngIf="city.errors.required">City is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="">DNI</label>
      <input #city="ngModel" name="city" [(ngModel)]="shipping.city" type="text" class="form-control"
        placeholder="Ciudad" required />
      <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
        <div *ngIf="city.errors.required">City is required.</div>
      </div>
    </div-->
    <button (click)="placeOrder()" class="btn btn-primary">
      Place Order
    </button>
  </form>
</div>





