/* login.component.css */

.login-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F684AF;
}

.login-card {
  max-width: 400px;
  height: 500px;
  background-color: #F684AF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
}

.login-card-logo {
  text-align: center;
  margin-bottom: 20px;
}

.login-card-logo img {
  max-width: 100%;
  height: auto;
}

img{

  width: 200px;
  height: 200px;
  position: absolute;
  top: 150px;

  padding: 10px;
  margin: 0 auto;


}

.login-card-form h1 {

text-align: center;

}

.login-card-form .form-item {
  position: relative;
}

.login-card-form .form-item {
  opacity: .5;
  border-radius: 50px;
}


.login-card-form input[type="text"],
.login-card-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-card-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-card-footer {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .login-card {
    max-width: 90%;
  }
}
